@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 10px;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 200px
    "nav" 50px
    "aside" 200px
    "main" auto
    "footer" 100px;

  .header {
    grid-area: header;
    background-color: #d9c2a7;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header > h1 {
    color: #594a3c;
    padding-left: 20px;
    display: none;
  }

  .logo {
    height: 180px;
    padding: 0px;
    border-radius: 5px;
  }

  .nav {
    grid-area: nav;
    background-color: #d9c2a7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav > ul > li > a {
    text-decoration: none;
    padding: 5px;
    color: #594a3c;
  }

  .aside {
    grid-area: aside;
    background-image: url("/assets/img/bannerPrincipal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main {
    grid-area: main;
    background-color: #f5f5f5;
    display: flex;
  }

  .nosotros {
    padding: 10px;
    color: #594a3c;
  }

  .nosotros > ul {
    list-style: none;
  }

  .productos {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .productos-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #594a3c;
  }

  .card-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 16rem;
    margin: 5px;
    border: 1px solid rgb(217, 193, 166);
    border-radius: 5px;
  }

  .card-image {
    width: 100%;
    padding: 5px;
  }

  .card-content {
    text-align: center;
    color: #594a3c;
    padding: 5px;
  }

  .contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #594a3c;
  }

  .formulario {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    color: #594a3c;
  }

  .boton {
    background-color: #d9c2a7;
    color: #594a3c;
    padding: 10px 20px;
    border: none;
  }

  .footer {
    grid-area: footer;
    background-color: #d9c2a7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #594a3c;
  }

  @media (width >= 768px) {
    grid-template:
      "header nav" 50px
      "header nav" 50px
      "aside main" auto
      "footer footer" 100px/
      200px auto;

    .logo {
      height: 100px;
    }
  }

  @media (width >= 992px) {
    grid-template:
      "header header header" 100px
      "nav main aside"
      "footer footer footer" 100px/
      200px auto 200px;

    .header > h1 {
      display: block;
      width: 50%;
      text-align: center;
    }

    .logo {
      width: 100px;
      text-align: left;
    }

    .nav > ul {
      flex-direction: column;
      justify-content: flex-start;
    }

    .nav > ul > li {
      margin: 10px;
    }

    .nav > ul > li > a:hover {
      background-color: #594a3c;
      color: #f5f5f5;
      padding: 10px;
      margin: 10px;
      border-radius: 8px;
    }
  }
}
